body { 
    margin: 0px; 
    padding: 0;
}

.container {  
    width: 100%;
    height: 1000px;
    background-color: #272438;
    flex-direction: row;
    display: flex;
}

.one {
    width: 30%;
    height: 100%;
    background-color:#faf9ff;
}

.two {
    width: 40%;
    height: 100%;
    background-color:#f8e09d;
    text-align: center;
}
.three {
    width: 30%;
    height: 100%;
    background-color:#c59ae2;
}

.t-one { 
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.t-two { 
    width: 100%;
    height: 30%;
    background-color: #7599e7;
    display:flex;
}

.text{
    font-size: 30px;
    font-weight: 700;
}

.yea { 
    width: 20%;
    border-radius: 90px;
    margin-bottom: 30px;
}

.h {
     color: rgb(255, 255, 255);
}

.ye {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: gray;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    transform: translateX(40px) rotate(45deg);
    
}
