* {
    font-family: 'Pangolin', cursive;
}

body { 
    margin: 0px; 
    padding: 0;
}

.container {  
    width: 100%;
    height: 1000px;
    background-color: #272438;
    flex-direction: row;
    display: flex;
}

.one {
    width: 30%;
    height: 100%;
    background-color:#000000;
}

.two {
    width: 40%;
    height: 100%;
    background-color:#000000;
    text-align: center;
}
.three {
    width: 30%;
    height: 100%;
    background-color:#000000;
}

.t-one { 
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.t-two { 
    width: 100%;
    height: 30%;
    background-color: #000000;
    display:flex;
}

.text{
    font-size: 30px;
    font-weight: 700;
}

.yea { 
    width: 20%;
    border-radius: 90px;
    margin-bottom: 30px;
    transition: all 0.2s linear;
    
}

.h {
     color: rgb(255, 255, 255);
     font-weight: 700;
}

.ye {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
}

.circle1  {
    width: 10px;
    height: 10px;
    background-color: rgb(146, 178, 204);
    border-radius: 50%;
    transition: all 0.2s linear;
   position: absolute;
   left: 730px;
   top: 30px;
  
}



.circle2  {
    width: 15px;
    height: 15px;
    background: rgb(128, 158, 184);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 760px;
    top: 150px;
}

.circle3  {
    width: 5px;
    height: 5px;
    background: rgb(176, 192, 206);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 600px; 
    top: 220px;
}

.circle4  {
    width: 15px;
    height: 15px;
    background: rgb(130, 154, 172);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 500px; 
    top: 140px;
}

.circle5  {
    width: 10px;
    height: 10px;
    background: rgb(146, 178, 204);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 330px; 
    top: 150px;
}

.circle6  {
    width: 7px;
    height: 7px;
    background: rgb(146, 178, 204);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 150px; 
    top: 150px;
}

.circle7  {
    width: 17px;
    height: 17px;
    background: rgb(146, 178, 204);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 40px; 
    top: 300px;
}

.l1  {
    width: 13px;
    height: 13px;
    background: rgb(195, 183, 228);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 300px; 
    top: 350px;
}

.l2  {
    width: 7px;
    height: 7px;
    background: rgb(195, 183, 228);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 200px; 
    top: 500px;
}

.l3  {
    width: 15px;
    height: 15px;
    background: rgb(127, 106, 185);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 500px; 
    top: 400px;
}

.l4  {
    width: 15px;
    height: 15px;
    background: rgb(131, 118, 167);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 300px; 
    top: 650px;
}

.l5  {
    width: 10px;
    height: 10px;
    background: rgb(195, 183, 228);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 330px; 
    top: 750px;
}

.l6  {
    width: 5px;
    height: 5px;
    background: rgb(100, 90, 128);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 570px; 
    top: 550px;
}

.l7  {
    width: 5px;
    height: 5px;
    background: rgb(195, 183, 228);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 300px; 
    top: 850px;
}

.l8  {
    width: 10px;
    height: 10px;
    background: rgb(195, 183, 228);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 680px; 
    top: 670px;
}

.c1 {
    width: 10px;
    height: 10px;
    background: rgb(213, 219, 152);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1200px; 
    top: 80px;
}

.c2 {
    width: 10px;
    height: 10px;
    background: rgb(231, 252, 141);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1150px; 
    top: 380px;
}


.c3 {
    width: 10px;
    height: 10px;
    background: rgb(227, 231, 184);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1400px; 
    top: 200px;
}

.c4 {
    width: 10px;
    height: 10px;
    background: rgb(215, 235, 127);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1430px; 
    top: 330px;
}

.c5 {
    width: 10px;
    height: 10px;
    background: rgb(211, 212, 107);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1600px; 
    top: 200px;
}

.c6 {
    width: 10px;
    height: 10px;
    background: rgb(231, 236, 184);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1590px; 
    top: 330px;
}

.c7 {
    width: 10px;
    height: 10px;
    background: rgb(220, 243, 137);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1800px; 
    top: 100px;
}

.o1{
    width: 10px;
    height: 10px;
    background: rgb(185, 121, 182);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1250px; 
    top: 500px;
}

.o2{
    width: 10px;
    height: 10px;
    background: rgb(218, 172, 204);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1200px; 
    top: 650px;
}

.o3{
    width: 10px;
    height: 10px;
    background: rgb(206, 128, 193);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1400px; 
    top: 550px;
}

.o4{
    width: 10px;
    height: 10px;
    background: rgb(201, 119, 204);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1470px; 
    top: 800px;
}

.o5{
    width: 10px;
    height: 10px;
    background: rgb(199, 161, 194);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1480px; 
    top: 700px;
}

.o6{
    width: 10px;
    height: 10px;
    background: rgb(212, 136, 212);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1750px; 
    top: 750px;
}

.o7{
    width: 10px;
    height: 10px;
    background: rgb(211, 143, 202);
    border-radius: 50%;
    transition: all 0.2s linear;
    position: absolute;
    left: 1650px; 
    top: 900px;
}




.yea:hover {
    background:rgb(199, 199, 199);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(199, 199, 199),
    0 0 25px rgb(199, 199, 199),
    0 0 50px rgb(199, 199, 199),  
    0 0 100px rgb(199, 199, 199);
}

.circle1:hover {
   transform: scale(4.4);
   background:chartreuse;
   color: rgb(255, 255, 255);
   box-shadow: 0 0 5px chartreuse,
   0 0 25px chartreuse,
   0 0 50px chartreuse,  
   0 0 100px chartreuse;
}

.circle2:hover {
    transform: scale(4.4);
    background:rgb(196, 240, 153);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(196, 240, 153), 
    0 0 25px rgb(196, 240, 153),
    0 0 50px rgb(196, 240, 153),  
    0 0 100px rgb(196, 240, 153);
 }

 .circle3:hover {
    transform: scale(4.4);
    background:#DBA901 ;
    color: #ffffff;
    box-shadow: 0 0 5px #DBA901, 
    0 0 25px #DBA901,
    0 0 50px #DBA901,  
    0 0 100px #DBA901;
 }

 .circle4:hover {
    transform: scale(4.4);
    background:#DBA901 ;
    color: #ffffff;
    box-shadow: 0 0 5px #DBA901, 
    0 0 25px #DBA901,
    0 0 50px #DBA901,  
    0 0 100px #DBA901;
 }
 .circle5:hover {
    transform: scale(4.4);
    background:#DBA901 ;
    color: #ffffff;
    box-shadow: 0 0 5px #DBA901, 
    0 0 25px #DBA901,
    0 0 50px #DBA901,  
    0 0 100px #DBA901;
 }
 .circle6:hover {
    transform: scale(4.4);
    background:#DBA901 ;
    color: #ffffff;
    box-shadow: 0 0 5px #DBA901, 
    0 0 25px #DBA901,
    0 0 50px #DBA901,  
    0 0 100px #DBA901;
 }

 .circle7:hover {
    transform: scale(4.4);
    background:#DBA901 ;
    color: #ffffff;
    box-shadow: 0 0 5px #DBA901, 
    0 0 25px #DBA901,
    0 0 50px #DBA901,  
    0 0 100px #DBA901;
 }

.instagram {
  position: absolute;
  top: 70%; left: 44.3%;
  text-align: center;
}

 a { 
    padding: 10px 50px;
    color: rgb(175, 193, 207);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    border: 1px solid rgb(175, 193, 207);
    outline: 0;
    border-radius: 5px;
    font-weight: bold;
 }

 a:hover {
     background:rgb(0, 0, 0);
     color:rgb(255, 255, 255);
     box-shadow: 0 0 5px rgb(146, 178, 204), 0 0 25px rgb(146, 178, 204),
     0 0 50px rgb(146, 178, 204), 0 0 100px rgb(146, 178, 204);
 }



 .music {
     position: absolute;
     top: 20px;
     left: 1580px;
     }

     /* @keyframes circle1 { 
         50%{ 
             opacity: 0; 
            } 
        } 
     
     
     .circle1 { animation: circle1 0.5s step-end infinite;
        animation-name: circle1; 
        animation-duration: 0.5s; 
        animation-iteration-count:infinite; 
        animation-timing-function:step-end;

        
     } */